:root {
  --cor-parag: #bab6b6;
  --cor-title: #ffffff;
  --cor-icone: #00bf63;
  --cor-background: #222222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

/* Largura da barra */
::-webkit-scrollbar {
  width: 10px;
}

/* Cor do trilho (fundo da barra) */
::-webkit-scrollbar-track {
  background: var(--cor-background);
}

/* Cor da alça (barra que desliza) */
::-webkit-scrollbar-thumb {
  background: var(---cor-icone);
  border-radius: 10px;
}

/* Alça quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #00bf63a2;
}


body {
  background-color: var(--cor-background);
  height: 100vh;

}

header {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding: 100px 20px;
  background:
    linear-gradient(rgba(31, 31, 31, 0.657), rgba(31, 30, 30, 0.8)),
    url('../assets/Ferramentas nômade.gif') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  /* Efeito parallax opcional */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor-title);
  text-align: center;
}

.grup-header-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 3rem;
  height: 500px;
}

.grup-header-1 h1 {
  color: var(--cor-title);
  font-size: 6rem;
}

.messagen-inicial {
  color: var(--cor-parag);
  text-align: center;
  font-size: 1.6rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-main {
  margin-top: 5rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.section-main img {
  width: 130px;
  height: 130px;
  border-radius: 50px;
  margin-bottom: 1rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.section-main h2 {
  color: var(--cor-title);
  text-align: center;
  font-size: 3.8rem;
}

.titulo-insolado {
  margin-top: 5
  rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titulo-insolado h2 {
  color: var(--cor-title);
  text-align: center;
  font-size: 3rem;
}

.faq {
  margin-top: 5rem;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.faq-item {
  width: 400px;
  height: 500px;
  border: 1px solid #ffffff50;
  background-color: #1b1b1b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.faq-item img {
  width: 130px;
  height: 130px;
  border-radius: 50px;
  margin-bottom: 1rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.faq-item-descricao {
  width: 95%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.faq-item-imagem {
  width: 95%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-item h3 {
  color: var(--cor-title);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.faq-item p {
  color: var(--cor-parag);
  font-size: 1.2rem;
}

.video {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: hidden;
}

.video video {
  width: 100%;
  border-radius: 5px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.carroseul {
  margin-top: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  gap: 1rem;
  width: 95%;
  cursor: grab;
  padding: 10px;
  scroll-behavior: smooth;

  /* Esconder scrollbar no Firefox */
  scrollbar-width: none;
}

.carroseul.dragging {
  cursor: grabbing;
}

/* Esconder scrollbar no Chrome, Safari e Edge */
.carroseul::-webkit-scrollbar {
  display: none;
}


.carroseul::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;
}

.carroseul::-webkit-scrollbar-thumb {
  background-color: #00bf63;
  border-radius: 5px;
  border: 2px solid #222;
  /* espaçamento interno */
}


.carroseul-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 400px;
  height: 500px;
  border: 1px solid #ffffff50;
  background-color: #1b1b1b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

/* Cursor muda quando está arrastando */
.carroseul.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}



.carroseul-item-imagem {
  width: 95%;
  height: 80%;
  display: flex;
}

.carroseul-item img {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.carroseul-saiba-mais {
  width: 95%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 60px;
  color: var(--cor-title);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffffff67;
  z-index: 0;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

.btn:hover {
  border: 1px solid var(--cor-icone);
  ;
  color: #f6d861;
  /* opcional: muda a cor do texto no hover */
}


.faq-item h3 {
  color: var(--cor-title);
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  height: 200px;
  margin-top: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #0f0e0e;
  font-family: 'Roboto', sans-serif;
}

footer p {
  color: var(--cor-title);
  font-size: 1.2rem;
}

.links {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.links a {
  text-decoration: none;
  color: var(--cor-parag);
  font-size: 1rem;
  transition: 0.3s;
}

.links a:hover {
  color: #ecebeb;
}

@media screen and (max-width: 700px) {
  header {
    background:
      linear-gradient(rgba(31, 31, 31, 0.657), rgba(31, 30, 30, 0.8)),
      url('../assets/fundo-mobile.gif') no-repeat center center/cover;
  }

  .grup-header-1 {
    width: 100%;
  }

  .messagen-inicial {
    text-align: center;
    font-size: 1.2rem;
  }

  .section-main {
    margin-top: 3rem;
    width: 95%;
    gap: 1rem;
  }

  .section-main img {
    width: 130px;
    height: 130px;
  }

  .section-main h2 {
    text-align: center;
    font-size: 2rem;
  }

  .titulo-insolado {
    margin-top: 5rem;
    width: 100%;
  }

  .titulo-insolado h2 {
    font-size: 2rem;
  }


  .grup-header-1 h1 {
    font-size: 2.5rem;
  }

  .faq {
    margin-top: 1.5rem;
    min-width: 300px;
  }

  .faq-item {
    width: 300px;
    height: 400px;
    /* padding: 20px; */
  }

  .faq-item-descricao {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .faq-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .faq-item p {
    text-align: center;
    width: 90%;
    font-size: 1rem;
  }

  .faq-item-imagem {
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .faq-item img {
    width: 130px;
    height: 130px;
    border-radius: 50px;
    margin-bottom: 1.7rem;
  }

  .video {
    margin-top: 2rem;
    width: 100%;
    height: 300px;
  }

  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .carroseul-item {
    width: 300px;
    height: 400px;
  }

  .btn {
    width: 150px;
    height: 50px;
  }

  footer {
    margin-top: 10rem;
    flex-direction: column;
  }
  footer p{
    font-size: 1rem;
    text-align: center;
  }

  .links{
    font-size: 0.9;
    text-align: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1920px) {
  .grup-header-1 {
    width: 60%;
  }

  .grup-header-1 h1 {
    font-size: 8rem;
  }

  .messagen-inicial {
    font-size: 3.8rem;
  }

  .titulo-insolado h2 {
    font-size: 6rem;
  }

  .section-main h2 {
    font-size: 6rem;
  }

  .section-main img {
    width: 300px;
    height: 300px;
  }

  .faq {
    gap: 2;
  }

  .faq-item {
    width: 750px;
    height: 850px;
  }

  .faq-item h3 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .faq-item p {
    text-align: center;
    font-size: 2.4rem;
  }

  .faq-item img {
    width: 300px;
    height: 300px;
  }

  .carroseul-item {
    width: 600px;
    height: 800px;
    padding: 30px;
  }

  .btn {
    width: 280px;
    height: 100px;
  }

  .btn h3 {
    font-size: 2rem;
  }
}